* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.subject {
  background-color: #ff9966;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
li {
  display: inline-block;
  margin: 10px;
}
ol {
  text-align: center;
}
.picture {
  background-repeat: no-repeat;
  height: 420px;
  position: relative;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/952363/pexels-photo-952363.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
.about_title {
  text-align: center;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 150px;
  left: 350px;
  color: white;
  border: 2px solid white;
  overflow: hidden;
}
 .background {
 position: absolute;
 top: 550px;
 height: 400px;
 width: 450px;
 left: 100px;
 background-image: url("https://images.unsplash.com/photo-1630345099947-271d4936bba8?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMTV8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
}
.title{
position: absolute;
left: 600px;
top: 550px;
}
p1{
position: absolute;
left: 600px;
top: 600px;
padding-right: 100px;
}
